<h2>Add Todo</h2>
<form #todoForm='ngForm' (ngSubmit)='save(todoForm)'>
    <mat-form-field>
        <input matInput placeholder="Description" required #description='ngModel' name='description' [(ngModel)]='todoData.description'>
        <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
            <div *ngIf="content.errors.required">
                Description is required.
            </div>
        </mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button type='submit'>Add</button>
</form>