<div class="center">
    <h1>Tasks</h1>
    <button mat-raised-button (click)='openAddTodoDialog()'>Add Todo</button>
</div>
<div class="content">
    <div class="todo-container">
        <h2>Pending</h2>
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]" class="todo-list" (cdkDropListDropped)="drop($event)">
            <div class="todo-box" *ngFor="let item of todo; let i = index" cdkDrag>
                {{item.description}}
                <a class="delete-button" (click)='removeTodo(i, todo)'>
                    <i class="material-icons">  
                        close  
                    </i>
                </a>
            </div>
        </div>
    </div>
    <div class="done-container">
        <h2>Completed</h2>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]" class="todo-list" (cdkDropListDropped)="drop($event)">
            <div class="todo-box" *ngFor="let item of done; let i = index" cdkDrag>
                {{item.description}}
                <a class="delete-button" (click)='removeTodo(i, done)'>
                    <i class="material-icons">  
                        close  
                    </i>
                </a>
            </div>
        </div>
    </div>
</div>